In [37]:
import pandas as pd
import altair as alt

## Import Files

In [38]:
df = pd.ExcelFile('data/TGA data with graphs (N2).xlsx')

## What are the file names?

In [39]:
df.sheet_names

['Both 20C',
 'Ca(OH)2 20C',
 'TBBPA 20C',
 'both 15C',
 'Ca(OH)2 15C',
 'TBBPA 15C',
 'Ca(OH)2 10C',
 'Both 10C',
 'TBBPA 10C',
 'Both 5C ',
 'Ca(OH)2 5C',
 'TBBPA 5C']

## Import individual sheets

In [80]:
d = {}
for i in df.sheet_names:
    k = i.replace(" ", "_").replace("(","").replace(")","")
    d[k] = pd.DataFrame(df.parse(i))
    d[k]['Compound'] = k.split('_')[0] # Add a column for condition
    d[k]['Condition'] = k.split('_')[1].split('C')[0] # Add a column for condition
    print("Imported ", d[k].shape)

Imported  (4672, 7)
Imported  (4669, 7)
Imported  (4672, 7)
Imported  (6218, 7)
Imported  (6225, 7)
Imported  (6228, 7)
Imported  (9335, 7)
Imported  (9319, 7)
Imported  (9340, 7)
Imported  (18626, 7)
Imported  (18657, 7)
Imported  (18675, 7)

In [87]:
df_all = d[list(d.keys())[0]]
for i in range(1, len(d.keys())):
    df_all = df_all.append(d[list(d.keys())[i]])
    print(df_all.shape)

(9341, 7)
(14013, 7)
(20231, 8)
(26456, 8)
(32684, 9)
(42019, 9)
(51338, 9)
(60678, 10)
(79304, 11)
(97961, 11)
(116636, 11)

In [88]:
df_all

,Time (min),Temperature (°C),Weight (mg),DTA (%/°C),wt loss %,Compound,Condition,wt loss%,Wt loss%,wt%,Weight loss %
0,0.000933,21.32432,9.058288,-0.012645,100.000000,Both,20,NaN,NaN,NaN,NaN
1,0.004167,21.32125,9.058359,-0.012647,100.000784,Both,20,NaN,NaN,NaN,NaN
2,0.012500,21.32316,9.058353,-0.012646,100.000718,Both,20,NaN,NaN,NaN,NaN
3,0.020833,21.32828,9.058349,-0.012643,100.000673,Both,20,NaN,NaN,NaN,NaN
4,0.029167,21.33278,9.058361,-0.012640,100.000806,Both,20,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
18670,155.579200,797.84160,1.297143,0.015931,14.455047,TBBPA,5,NaN,NaN,NaN,NaN
18671,155.587500,797.88450,1.297430,0.015890,14.458245,TBBPA,5,NaN,NaN,NaN,NaN
18672,155.595800,797.92870,1.297572,0.015844,14.459828,TBBPA,5,NaN,NaN,NaN,NaN
18673,155.604200,797.97100,1.297616,0.015805,14.460318,TBBPA,5,NaN,NaN,NaN,NaN
18674,155.612500,798.01300,1.297571,0.015776,14.459816,TBBPA,5,NaN,NaN,NaN,NaN

In [82]:
for i in range(10):
    print(d[list(d.keys())[i]])

      Time (min)  Temperature (°C)  Weight (mg)  DTA (%/°C)   wt loss %  \
0       0.000933          21.32432     9.058288   -0.012645  100.000000
1       0.004167          21.32125     9.058359   -0.012647  100.000784
2       0.012500          21.32316     9.058353   -0.012646  100.000718
3       0.020833          21.32828     9.058349   -0.012643  100.000673
4       0.029167          21.33278     9.058361   -0.012640  100.000806
...          ...               ...          ...         ...         ...
4667   38.887500         790.67310     5.843637    0.024569   64.511495
4668   38.895830         790.84010     5.843182    0.024574   64.506472
4669   38.904170         791.00760     5.842686    0.024607   64.500996
4670   38.912500         791.17390     5.842400    0.024642   64.497839
4671   38.920840         791.34080     5.842136    0.024641   64.494924

     Compound Condition
0        Both        20
1        Both        20
2        Both        20
3        Both        20
4        Both        20
...       ...       ...
4667     Both        20
4668     Both        20
4669     Both        20
4670     Both        20
4671     Both        20

[4672 rows x 7 columns]
      Time (min)  Temperature (°C)  Weight (mg)  DTA (%/°C)   wt loss %  \
0       0.000933          21.94858     9.186535   -0.013244  100.000000
1       0.004167          21.94784     9.186688   -0.013245  100.001665
2       0.012500          21.95027     9.186756   -0.013244  100.002406
3       0.020833          21.95178     9.186822   -0.013243  100.003124
4       0.029167          21.95883     9.186842   -0.013240  100.003342
...          ...               ...          ...         ...         ...
4664   38.862500         791.06180     6.832716    0.002108   74.377510
4665   38.870840         791.22800     6.832776    0.002162   74.378163
4666   38.879160         791.39470     6.832876    0.002200   74.379252
4667   38.887500         791.56320     6.832944    0.002230   74.379992
4668   38.895830         791.73120     6.833063    0.002242   74.381287

     Compound Condition
0       CaOH2        20
1       CaOH2        20
2       CaOH2        20
3       CaOH2        20
4       CaOH2        20
...       ...       ...
4664    CaOH2        20
4665    CaOH2        20
4666    CaOH2        20
4667    CaOH2        20
4668    CaOH2        20

[4669 rows x 7 columns]
      Time (min)  Temperature (°C)  Weight (mg)  DTA (%/°C)   wt loss %  \
0       0.002467          21.28578     9.335031   -0.013027  100.000000
1       0.004167          21.28506     9.335250   -0.013027  100.002346
2       0.012500          21.28524     9.335405   -0.013027  100.004006
3       0.020833          21.28660     9.335522   -0.013027  100.005260
4       0.029167          21.29204     9.335587   -0.013025  100.005956
...          ...               ...          ...         ...         ...
4667   38.887500         790.73910     1.127869    0.031363   12.082113
4668   38.895830         790.90590     1.127346    0.031379   12.076511
4669   38.904170         791.07220     1.126908    0.031411   12.071819
4670   38.912500         791.24050     1.126419    0.031447   12.066580
4671   38.920840         791.40800     1.125894    0.031490   12.060956

     Compound Condition
0       TBBPA        20
1       TBBPA        20
2       TBBPA        20
3       TBBPA        20
4       TBBPA        20
...       ...       ...
4667    TBBPA        20
4668    TBBPA        20
4669    TBBPA        20
4670    TBBPA        20
4671    TBBPA        20

[4672 rows x 7 columns]
      Time (min)  Temperature (°C)  Weight (mg)  DTA (%/°C)    wt loss%  \
0       0.003733          22.74566     9.164900   -0.011586  100.000000
1       0.004167          22.74446     9.165097   -0.011587  100.002150
2       0.012500          22.74642     9.165386   -0.011586  100.005303
3       0.020833          22.74673     9.165569   -0.011585  100.007300
4       0.029167          22.75180     9.165722   -0.011582  100.008969
...          ...               ...          ...         ...         ...
6213   51.770830         793.27360     6.078415    0.038975   66.322764
6214   51.779170         793.39620     6.077869    0.038985   66.316807
6215   51.787500         793.52280     6.077288    0.038962   66.310467
6216   51.795830         793.64720     6.076762    0.038908   66.304728
6217   51.804160         793.77350     6.076184    0.038865   66.298421

     Compound Condition
0        both        15
1        both        15
2        both        15
3        both        15
4        both        15
...       ...       ...
6213     both        15
6214     both        15
6215     both        15
6216     both        15
6217     both        15

[6218 rows x 7 columns]
      Time (min)  Temperature (°C)  Weight (mg)  DTA (%/°C)   wt loss %  \
0       0.003733          21.83304     9.347460    0.005447  100.000000
1       0.004167          21.83338     9.347625    0.005447  100.001765
2       0.012500          21.83780     9.347818    0.005447  100.003830
3       0.020833          21.84380     9.348032    0.005448  100.006119
4       0.029167          21.85196     9.348194    0.005448  100.007852
...          ...               ...          ...         ...         ...
6220   51.829170         793.21760     6.981592    0.001508   74.689723
6221   51.837500         793.34400     6.981614    0.001565   74.689959
6222   51.845830         793.47180     6.981782    0.001605   74.691756
6223   51.854170         793.59710     6.981938    0.001630   74.693425
6224   51.862500         793.72220     6.981998    0.001644   74.694067

     Compound Condition
0       CaOH2        15
1       CaOH2        15
2       CaOH2        15
3       CaOH2        15
4       CaOH2        15
...       ...       ...
6220    CaOH2        15
6221    CaOH2        15
6222    CaOH2        15
6223    CaOH2        15
6224    CaOH2        15

[6225 rows x 7 columns]
      Time (min)  Temperature (°C)  Weight (mg)  DTA (%/°C)    Wt loss%  \
0       0.000933          21.49057     8.326431   -0.011440  100.000000
1       0.004167          21.49133     8.326496   -0.011440  100.000781
2       0.012500          21.49170     8.326500   -0.011440  100.000829
3       0.020833          21.49420     8.326500   -0.011439  100.000829
4       0.029167          21.49590     8.326522   -0.011439  100.001093
...          ...               ...          ...         ...         ...
6223   51.854170         793.10640     1.375077    0.014223   16.514603
6224   51.862500         793.23000     1.374882    0.014227   16.512261
6225   51.870840         793.35500     1.374599    0.014168   16.508862
6226   51.879160         793.48000     1.374294    0.014046   16.505199
6227   51.887500         793.60540     1.374024    0.013879   16.501956

     Compound Condition
0       TBBPA        15
1       TBBPA        15
2       TBBPA        15
3       TBBPA        15
4       TBBPA        15
...       ...       ...
6223    TBBPA        15
6224    TBBPA        15
6225    TBBPA        15
6226    TBBPA        15
6227    TBBPA        15

[6228 rows x 7 columns]
      Time (min)  Temperature (°C)  Weight (mg)  DTA (%/°C)   wt loss %  \
0       0.001533          22.10480     9.203155   -0.008149  100.000000
1       0.004167          22.10476     9.203312   -0.008149  100.001706
2       0.012500          22.10409     9.203378   -0.008149  100.002423
3       0.020833          22.10699     9.203415   -0.008148  100.002825
4       0.029167          22.10811     9.203438   -0.008148  100.003075
...          ...               ...          ...         ...         ...
9330   77.745840         795.57900     6.809712    0.000492   73.993234
9331   77.754160         795.66400     6.809669    0.000505   73.992767
9332   77.762500         795.74760     6.809595    0.000524   73.991963
9333   77.770840         795.82880     6.809585    0.000562   73.991854
9334   77.779180         795.91500     6.809656    0.000618   73.992625

     Compound Condition
0       CaOH2        10
1       CaOH2        10
2       CaOH2        10
3       CaOH2        10
4       CaOH2        10
...       ...       ...
9330    CaOH2        10
9331    CaOH2        10
9332    CaOH2        10
9333    CaOH2        10
9334    CaOH2        10

[9335 rows x 7 columns]
      Time (min)  Temperature (°C)  Weight (mg)  DTA (%/°C)   wt loss %  \
0       0.000933          23.43372     8.805481   -0.007875  100.000000
1       0.004167          23.43144     8.805707   -0.007876  100.002567
2       0.012500          23.43212     8.805916   -0.007876  100.004940
3       0.020833          23.43328     8.805955   -0.007876  100.005383
4       0.029167          23.43314     8.805981   -0.007876  100.005678
...          ...               ...          ...         ...         ...
9314   77.612500         795.56900     5.701831    0.037560   64.753203
9315   77.620840         795.65200     5.701526    0.037559   64.749739
9316   77.629160         795.73490     5.701262    0.037555   64.746741
9317   77.637500         795.81780     5.701023    0.037553   64.744027
9318   77.645840         795.90380     5.700804    0.037555   64.741540

     Compound Condition
0        Both        10
1        Both        10
2        Both        10
3        Both        10
4        Both        10
...       ...       ...
9314     Both        10
9315     Both        10
9316     Both        10
9317     Both        10
9318     Both        10

[9319 rows x 7 columns]
      Time (min)  Temperature (°C)  Weight (mg)  DTA (%/°C)         wt%  \
0       0.000667          21.68450     9.485242   -0.006289  100.000000
1       0.004167          21.68163     9.485328   -0.006289  100.000907
2       0.012500          21.68176     9.485481   -0.006289  100.002520
3       0.020833          21.68196     9.485630   -0.006289  100.004091
4       0.029167          21.68468     9.485663   -0.006289  100.004438
...          ...               ...          ...         ...         ...
9335   77.787500         795.48930     1.610192    0.010720   16.975761
9336   77.795820         795.57220     1.610090    0.010690   16.974686
9337   77.804180         795.65650     1.609929    0.010680   16.972988
9338   77.812500         795.73950     1.609766    0.010691   16.971270
9339   77.820820         795.82280     1.609622    0.010692   16.969752

     Compound Condition
0       TBBPA        10
1       TBBPA        10
2       TBBPA        10
3       TBBPA        10
4       TBBPA        10
...       ...       ...
9335    TBBPA        10
9336    TBBPA        10
9337    TBBPA        10
9338    TBBPA        10
9339    TBBPA        10

[9340 rows x 7 columns]
       Time (min)  Temperature (°C)  Weight (mg)  DTA (%/°C)  Weight loss %  \
0        0.000667          25.23356     9.034039    0.000961     100.000000
1        0.004167          25.23225     9.034106    0.000961     100.000742
2        0.012500          25.22762     9.034059    0.000960     100.000221
3        0.020833          25.22454     9.034044    0.000960     100.000055
4        0.029167          25.22418     9.034110    0.000960     100.000786
...           ...               ...          ...         ...            ...
18621  155.495800         797.87500     5.371296    0.060991      59.456197
18622  155.504200         797.91720     5.370985    0.061025      59.452754
18623  155.512500         797.95850     5.370723    0.061059      59.449854
18624  155.520800         797.99680     5.370461    0.061063      59.446954
18625  155.529200         798.04140     5.370252    0.061126      59.444640

      Compound Condition
0         Both         5
1         Both         5
2         Both         5
3         Both         5
4         Both         5
...        ...       ...
18621     Both         5
18622     Both         5
18623     Both         5
18624     Both         5
18625     Both         5

[18626 rows x 7 columns]

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4672 entries, 0 to 4671
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Time (min)        4672 non-null   float64
 1   Temperature (°C)  4672 non-null   float64
 2   Weight (mg)       4672 non-null   float64
 3   DTA (%/°C)        4672 non-null   float64
 4   wt loss %         4672 non-null   float64
dtypes: float64(5)
memory usage: 182.6 KB

In [10]:
df1.describe()

        Time (min)  Temperature (°C)  Weight (mg)   DTA (%/°C)    wt loss %
count  4672.000000       4672.000000  4672.000000  4672.000000  4672.000000
mean     19.458335        401.870761     5.043629     0.114340    54.029059
std      11.240286        224.642938     3.453832     0.382585    36.998618
min       0.002467         21.285060     1.125894    -0.013027    12.060956
25%       9.727085        206.986725     1.954490     0.004423    20.937153
50%      19.458330        401.492400     3.194729     0.050421    34.223014
75%      29.189585        596.420050     9.297804     0.064861    99.601212
max      38.920840        791.408000     9.342208     3.269565   100.076882